* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

ul {
  list-style-type: none;
  display: flex;
}



header, footer {
  background-color: #1f2937;
  
}

header {
  color: #e5e7eb;
  font-size: 18px;
}

h1 {
  font-size: 24px;
  color: #f9faf8;
}

.hero-header {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

/* INFORMATION */

.info {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

/* QUOTE */

.quote-section {
  background-color: #e5e7eb;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

/* CALL TO ACTION */

.call-to-action {
  background-color: #3882f6;
}

h3 {
  color: #f9faf8;
}

.sign-up-text {
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
}

/* FOOTER */

footer {
  margin-top: auto;
}

.copyright {
  color: #e5e7eb;
}
