* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

/* HEADER */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 2em;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto 16em;
}
  
.header-image {
  background-color: #666;
  padding: 60px 120px;
}

header, footer {
  background-color: #1f2937;
  
}

header {
  color: #e5e7eb;
  font-size: 18px;
  flex: 1 1 auto;  
}

h1 {
  font-size: 24px;
  color: #f9faf8;
}

.hero-header {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}



/* INFORMATION */

.information-section {
  flex: 1 1 auto;
}

.info {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  display: flex;
  justify-content: center;
  margin-top: 1em
}

/* QUOTE */

.quote-section {
  background-color: #e5e7eb;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  flex: .75 1 auto;
}

/* CALL TO ACTION */

.call-to-action {
  background-color: #3882f6;
  flex: .5 1 auto;
}

h3 {
  color: #f9faf8;
}

.sign-up-text {
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
}

/* FOOTER */

footer {
  margin-top: auto;
  padding: 1.5rem;
}

.copyright {
  color: #e5e7eb;
}

/* BUTTONS */

button {
  padding: 5px 18px;
  border-radius: 8px;
  border-style: none;
}

.call-to-action-button {
  border-color:  #f9faf8;
  border-style: solid;
}

/* LINKS */